table.substitution {
  font-size: .6em;
  margin: 3em 0;
}

table.substitution td, table.centered td, table.centered th {
  text-align: center;
}

/* preformatted examples */
.pre-box-container {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  margin: 20px !important;
}

.pre-box-row {
  display: flex;
  justify-content: center;
  line-height: 1.1em !important;
  font-family: monospace !important;
  width: 100%;
}

ul > li > ul > li {
  list-style-type: circle;
}

.friendly-aside {
  font-style: oblique !important;
  font-size: .8em !important;
}